[Desktop Entry]
Name=gfpoken
Comment=Relaxen und watchen das rollenballen
Comment[pl]=Relaksen und oglądajen kulken
Icon=gfpoken.png
Exec=gfpoken
Terminal=false
Type=Application
Encoding=UTF-8
# vi: encoding=utf-8
