[Desktop Entry]
Name=gfpoken
Comment=Relaxen und watchen das rollenballen
Comment[pl]=Relaksen und oglądajen kulken
Icon=gfpoken
Exec=gfpoken
Terminal=false
Type=Application
Categories=GTK;Game;BoardGame;
# vi: encoding=utf-8
